@import '~bootstrap/scss/bootstrap-reboot.scss';

body, html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div {
	text-align: center;
}
